1. Usando la siguiente lista: 
    ```python
    temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
    ```

    Crea tres listas nuevas, donde: 

    - En la primera tengamos temperaturas entre 0 - 10, llama a la nueva lista `bajas_temp`.

    - En la segunda tengamos temperaturas entre 11- 20, llama a la nueva lista `medias_temp`.

    - En la tercera tengamos temperaturas por encima de 20, llama a la nueva lista `altas_temp`

In [12]:
temperaturas = [2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]
bajas_temp = []
medias_temp = []
altas_temp = []

for tem in temperaturas:
    if tem <= 10:
        bajas_temp.append(tem)
    elif tem >= 11 and tem <= 20:
        medias_temp.append(tem)
    else:
        altas_temp.append(tem)
        
print("bajas temperaturas:", bajas_temp)
print("medias temperaturas:", medias_temp)
print("altas temperaturas:", altas_temp)

bajas temperaturas: [2, 1]
medias temperaturas: [12]
altas temperaturas: [45, 67, 23, 45, 66, 34, 67, 99, 98, 67, 64, 44, 100]

2. Las temperaturas están grados centígrados. Para cada una de las listas creadas en el ejercicio anterior, convertid las temperaturas a grados fahrenheit

    ```
    # la relacion de grados celsius y fahrenheit es:
    (0 °C × 9 / 5) + 32 = 32 °F
    ```

In [16]:
for tem in temperaturas:
    conversion = tem * 9 / 5 + 32
    print(tem, "ºC =", conversion, "ºF")

2 ºC = 35.6 ºF
45 ºC = 113.0 ºF
67 ºC = 152.6 ºF
23 ºC = 73.4 ºF
45 ºC = 113.0 ºF
66 ºC = 150.8 ºF
12 ºC = 53.6 ºF
1 ºC = 33.8 ºF
34 ºC = 93.2 ºF
67 ºC = 152.6 ºF
99 ºC = 210.2 ºF
98 ºC = 208.4 ºF
67 ºC = 152.6 ºF
64 ºC = 147.2 ºF
44 ºC = 111.2 ºF
100 ºC = 212.0 ºF

3. Define e imprime un rango de 0 a 6 (excluido).

In [1]:
for num in range (6):
    print(num)

0
1
2
3
4
5

4. Define e imprime un rango de 3 a 6 ambos incluidos.

In [18]:
for num in range (3,7):
    print(num)

3
4
5
6

5. Define e imprime un rango de 5 a 9 ambos excluidos.

In [19]:
for num in range (6,9):
    print(num)

6
7
8

6. Define e imprime un rango de 3 números que empiece en 2.

In [21]:
for num in range (2,5):
    print(num)

2
3
4

7. Define e imprime un rango que empiece en 2, aumentando cada paso por 3, que pare antes de llegar al número 13.

In [22]:
for num in range (2,13,3):
    print(num)

2
5
8
11

8. Define e imprime un rango con todos los valores impares que hay hasta 10.

In [26]:
for num in range (1, 11, 2):
    print(num)

1
3
5
7
9

9. Crea una lista nueva donde tengamos los números de la lista `temperaturas` elevados al cuadrado.

In [21]:
temperaturas = [2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]
nueva_lista = []

for tem in temperaturas:
    potencia = tem **2
    nueva_lista.append(potencia)
print(nueva_lista)

[4, 2025, 4489, 529, 2025, 4356, 144, 1, 1156, 4489, 9801, 9604, 4489, 4096, 1936, 10000]

10. Crea una lista nueva donde tengamos el resto de la división de cada uno de los números entre 2.

In [22]:
nueva_lista = []

for tem in temperaturas:
    division = tem %2
    nueva_lista.append(division)
print(nueva_lista)

[0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]

11. Crea una lista nueva donde tengamos solo los elementos pares de la lista `temperaturas`.

In [27]:
temperaturas = [2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]
nueva_lista = []

for tem in temperaturas:
    if tem % 2 == 0:
        nueva_lista.append(tem)
        
print(nueva_lista)

[2, 66, 12, 34, 98, 64, 44, 100]

12. Crea una lista nueva donde tengamos solo los elementos que sean menores que 50.

In [28]:
nueva_lista = []

for tem in temperaturas:
    if tem < 50:
        nueva_lista.append(tem)
print(nueva_lista)

[2, 45, 23, 45, 12, 1, 34, 44]

13. Crea una lista donde tengamos los valores "par" e "impar" en función de los valores de la lista original. La lista resultante tiene que ser como la que indicamos a continuación: 

    ```python
    lista_strings = ["par","impar","impar","impar", "impar","par","par","impar","par","impar","impar","par","impar","par", "par", "par"]
    ```

In [29]:
temperaturas = [2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]
lista_strings = []

for tem in temperaturas: 
    if tem % 2 == 0:
        lista_strings.append("par")
    else:
        lista_strings.append("impar")

print(lista_strings)

['par', 'impar', 'impar', 'impar', 'impar', 'par', 'par', 'impar', 'par', 'impar', 'impar', 'par', 'impar', 'par', 'par', 'par']

14. Pide al usuario un número entero positivo y suma los números pares e impares por separado hasta ese número.

In [35]:
usuario = int(input("Ingresa un número entero positivo"))
lista_par = []
lista_impar = []
sum = 0

for num in range(usuario):
    if num % 2 == 0:
        sum += num
        lista_par.append(sum)
    else:
        sum += num
        lista_impar.append(sum)

print(lista_par, lista_impar)

[0, 3, 10, 21, 36] [1, 6, 15, 28, 45]

15. Pide al usuario ingresar una cadena y cuenta cuántas veces aparece cada vocal (a, e, i, o, u) en la cadena.

In [40]:
usuario = input("Ingresa una frase: ")

for letra in usuario: 
    a = usuario.count("a")
    e =usuario.count("e")
    i =usuario.count("i")
    o =usuario.count("o")
    u =usuario.count("u")
print(f"a = {a}, e = {e}, i = {i}, o = {o}, u = {u}")

a = 0, e = 0, i = 0, o = 0, u = 0